<div class="row justify-content-center">
    <div class="col-md-4 register-subscription">
        <form [formGroup]="subscriptionForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="inputName">Name</label>
                <input class="form-control" type="text" formControlName="Name">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.Name.errors?.required">
                  Enter a name
                </div>
                <div class="invalid-feedback" *ngIf="submitted && myForm.Name.errors?.pattern">
                  Enter letters Only
                </div>
            </div>
              <div class="form-group">
                <label for="Costs">Costs</label>
                <input class="form-control" type="text" formControlName="Costs">
                <div class="invalid-feedback" *ngIf="submitted && myForm.Costs.errors?.required">
                  Enter current number of costs
                </div>
                <div class="invalid-feedback" *ngIf="submitted && myForm.Costs.errors?.pattern">
                  Enter Numbers Only
                </div>
              </div>
            
              <div class="form-group">
                <label for="Support">Hardware</label>
                <select formControlName="Hardwares" id="Hardwares" class="js-example-basic-multiple" name="Hardwares[]" multiple="multiple" size="10">
                  <option *ngFor="let hardware of Hardwares; let i = index" [value]="hardware._id">
                    {{hardware.Name}}
                  </option>
                </select>
              </div>
            <div class="form-group">
                <button class="btn btn-success btn-lg btn-block" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>