.container {
    margin-top: 80px;
}
.content {
    margin-top: 80px;
}
.title {
    color: #FFFFFF
}
.invalid-feedback {
    display: block !important; /* Sccs makes these invisible. Required to use important unfortunatly */
}